.about {
  box-sizing: border-box;
  padding: 32px 60px 66px 50px;
  color: @basic-white;
  background: @header-background-color url("../../img/about-mobile.png") no-repeat;
  background-position: left 20px bottom;
  .container-round-bottom();
}

.about__title {
  color: @special-orange;
}

.about__button-more,
.about__img-wrapper {
  display: none;
}
