.about {
  box-sizing: border-box;
  padding: 32px 60px 66px 50px;
  color: @basic-white;
  background: @main-background url("../../img/about-mobile.png") no-repeat;
  background-position: left 20px bottom;
  .container-round-bottom();
}

.about__title {
  color: @special-orange;
  margin-bottom: 20px;
  .set-font(24px, 24px, 700);
}

.about__button-more,
.about__img-wrapper {
  display: none;
}

.about__text {
  .set-font(16px, 22px, 300);
  margin-bottom: 20px;
}

.about__clarification {
  .set-font(16px, 22px, 700);
  margin-bottom: 20px;
}
