.add-plan {
  position: relative;
  .container-round-top();
  box-sizing: border-box;
  padding: 24px 25px 40px;
  margin-bottom: -20px;
}

.add-plan__header {
  color: @basic-blue-light;
  margin-bottom: 30px;
  .set-font(24px, 24px, 700);
}

.add-plan__togglers {
  position: absolute;
  right: 44px;
  top: 36px;
  width: 40px;
  padding-bottom: 20px;
}
