.adress {
  background-color: @basic-yellow;
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
}

.adress__text {
  font-weight: 700;
  color: @basic-blue-light;
  text-transform: uppercase;
}
