.adress {
  background-color: @basic-yellow;
  .container-round-bottom();
}

.adress-container {
  display: flex;
  flex-direction: row;
  padding: 30px 0 30px 25px;
}

.adress__text {
  font-weight: 700;
  padding-left: 16px;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.adress__route-button {
  border: 3px solid @basic-blue-light;
  color: @basic-blue-light;
  margin-left: 25px;
}
