@page-background: @basic;
@form-background: @form-background-color;
@form-section-2-background: @form-grey-1;
@form-section-3-background:@form-grey-2;
@main-background: @basic-blue;
@header-background: @header-color;
@button-background: @basic-yellow;
@button-background-hovered: @special-yellow-dark;
@light-background: @basic-white;
@price-background: @price-gray;
@adress-background: @basic-yellow;
