.business-prices {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 443px;
}

.business-prices__title {
  padding: 35px 0 0 51px;
  font-weight: 700;
  color: @section-title-color;
  line-height: 24px;
  font-size: 24px;
}

.business-prices__list {
  padding-left: 25px;
  width: 119px;
  list-style-type: none;
}

.business-prices__list-item {
  font-weight: 300;
  color: @special-grey;
}
