@basic: #e5e5e5;
@basic-blue: #161c35;
@basic-black: black;
@basic-yellow: #ffd74b;
@basic-blue-medium: #132576;
@basic-blue-light: #1d2e5b;
@special-yellow-dark:#ffbd30;
@special-grey: #444444;
@basic-white: #ffffff;
@header-color: #182044;
@form-background-color: #edeff6;
@form-grey-1: #dfe3f0;
@form-grey-2: #d4d9eb;
@main-background-color: #e2e5f2;
@main-section-dark-bgcolor: #192144;
@special-red:#f47e7e;
@special-green: #81e31e;
@special-orange:#ff8d30;
@special-orange-2:#ffa530;
@special-orange-hovered: #f26926;
@price-gray: #e6e8f1;
@price-gray-light: #f3f4f8;
@price-gray-dark: #e1e3e9;
@form-fieldset-color:#cbced9;
@change-img-hovered: #d1d7e9;
@fieldset-hover-color: #aeb4cb;
@moovement-btn-active: #e2f5f1;
