.companions-filter {
  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-start;
    justify-self: flex-start;
  }
}

.companions-filter__form {
  border-radius: 20px;
  background-color: @basic-yellow;
  box-sizing: border-box;
  padding: 25px 25px 20px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding: 36px 34px 40px;
    display: grid;
    grid-template-rows: 92px 48px 48px 48px 60px 70px auto;
    grid-template-columns: auto;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding: 46px;
    margin-bottom: 0;
    box-sizing: border-box;
    width: 285px;
  }
}

.companions-filter__title {
  color: @basic-blue-light;
  .set-font(22px, 22px, 700);
  width: 145px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    width: unset;
    .set-font(30px, 30px, 700);
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    border-bottom: 1px solid @catalog-fieldset-color;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 617px;
      left: 0;
      top: 390px;
      border-bottom: 1px solid @catalog-fieldset-color;
    }
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.companions-filter__container {
  position: relative;
  border-top: 1px solid @catalog-fieldset-color;

  &--collapsed {
    .companions-filter__inputs {
      display: none;
    }

    .companions-filter__img {
      transform: rotate(180deg);
    }
  }

  .movement-btn {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    border-top: unset;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 126px auto;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: block;
    justify-content: flex-start;
  }
}

.companions-filter__legend {
  .set-font(16px, 18px, 700);
  float: left;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;
  color: @basic-blue-light;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .set-font(20px, 20px, 500);
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 28px;
  }
}

.companions-filter__label {
  width: 100%;
  .set-font(15px, 20px, 400);

  @media (min-width: @tablet-width) {
    .set-font(20px, 20px, 400);
  }
}

.companions-filter__checkbox.custom-checkbox + label::before {
  margin-left: 0;
  background-color: @basic-white;
  border-color: @basic-yellow;
  width: 18px;
  height: 18px;

  &:hover {
    &::before {
      border-color: #959bb2;
    }
  }

  &:active {
    &::before {
      border-color: @basic-yellow;
      background-color: @basic-white;
    }
  }

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.companions-filter__checkbox.custom-checkbox:checked + label::before {
  border-color: @basic-yellow;
}

.companions-filter__img {
  position: absolute;
  top: 17px;
  right: 0;
  fill: @main-section-dark-bgcolor;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.companions-filter__btn {
  margin-top: 25px;
  margin-left: -5px;
  .align-center();
  color: @basic-blue-light;
  text-transform: uppercase;
  .set-font(17px, 17px, 700);
  background-color: @basic-white;
  .buttons(230px, 40px);

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-top: 60px;
    .set-font(20px, 20px, 700);
    .buttons(616px, 50px);
  }

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 40px;
    .buttons(194px, 50px);
  }
}

.companions-filter__inputs {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 170px 170px  170px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.companions-filter__inputs.movement-btn {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 0;
  }
}

.companions-filter__inputs.level-group {
  @media (min-width: @tablet-width) {
    margin-top: -10px;
    display: flex;
    width: 500px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }
}
