.companion {
  display: flex;
  flex-direction: column;
  width: 270px;

  @media (min-width: @tablet-width) {
    width: 285px;
  }
}

.companion__text {
  .set-font(16px, 22px, 300);
  margin-bottom: 20px;
}

.companion__counter {
  position: absolute;
  top: 17px;
  left: 17px;

  @media (min-width: @tablet-width) {
    top: 22px;
    left: 22px;
  }
}

.companion__movement-icons {
  padding: 16px 0 16px;

  @media (min-width: @tablet-width) {
    padding: 24px 0 26px;
  }
}

.companion__flag-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -18px;
  margin-bottom: -37px;
}

.companion__flag-list-item {
  padding: 0 10px 0;
}

.companion__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @light-background;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.companion__title {
  position: relative;
  padding: 27px 16px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  .opacity-action();

  @media (min-width: @tablet-width) {
    padding-top: 30px;
  }
}

.companion__status {
  width: 6px;
  height: 6px;
  background-color: @special-red;
  border-radius: 3px;

  &--online {
    background-color: @special-green;
  }

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.companion__description-fio {
  padding-left: 10px;
  color: @basic-blue-light;
  .set-font(21px, 21px, 700);

  @media (min-width: @tablet-width) {
    .set-font(24px, 24px, 700);
    padding-left: 14px;
  }
}

.companion__description-tags {
  padding-top: 15px;
  display: block;
  width: 190px;
  text-align: center;
  color: @special-grey;
  .set-font(16px, 18px, 400);

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    .set-font(20px, 23px, 400);
    width: 226px;
  }
}

@media (min-width: @tablet-width) {
  .companion__img {
    width: 285px;
    height: 285px;
  }
}
