.companions {
  color: @basic-white;
  background-image: url("../../img/back-moblie.png"),
    url("../../img/smolov-back-mobile.png"),
    url("../../img/rogovaya-back-mobile.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left top 40px, top 40px left 152px, top 310px left;
  background-color: @main-section-dark-bgcolor;
  .container-round-bottom();
}

.companions__text-container {
  padding-top: 72px;
  margin-left: 52px;
  width: 220px;
}

.companions__title {
  font-weight: 700;
  color: @section-title-color;
  line-height: 24px;
  font-size: 24px;
}

.companion__description-fio {
  font-weight: 700;
}

.companions__text {
  margin-top: 16px;
  font-weight: 300;
  color: @basic-white;
}

.companions__clarification {
  font-weight: 700;
  margin: 24px 0 50px;
}

.companions__list {
  padding: 0 25px 0;
}

.companions__list-item {
  position: relative;
  margin-bottom: 4px;
  height: 428px;
  width: 270px;
}

.companion__counter {
  position: absolute;
  top: 32px;
  left: 16px;
}

.companion__movement-icons {
  padding: 16px 0 16px;
}

.companions__show-all {
  margin: 12px 25px 32px;
}
