.contact-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-list__link {
  display: block;
  padding-left: 10px;
  text-transform: uppercase;
  color: @main-section-dark-bgcolor;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}
