.contact-list__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-list__text {
  display: block;
  padding-left: 8px;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}
