.directions {
  color: @basic-white;
  background-color: #edeff6;
  .container-round-bottom();
}

.directions__title {
  padding: 71px 0 0 50px;
  font-weight: 700;
  color: @section-title-color;
  line-height: 24px;
  font-size: 24px;
}

.directions__text {
  padding: 19px 55px 60px 49px;
  font-weight: 300;
  color: @special-grey;
}

.directions__list {
  padding-left: 25px;
  list-style-type: none;
}

.directions__list-item {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 270px;
  border-radius: 10px;
  padding-bottom: 9px;
}

.directions__view-picture {
  order: 1;
  height: 110px;
  margin-bottom: -10px;
}

.directions__flag-picture {
  order: 2;
  position: relative;
  top: -12px;
  margin-bottom: -24px;
  padding-left: 25px;
  width: 35px;
  height: 24px;
}

.directions__list-text {
  order: 3;
  position: relative;
  height: 89px;
  padding-left: 25px;
  border-radius: 10px;
  background-color: @basic-white;
}

.diretions__list-item-title {
  padding-top: 26px;
  color: black;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.directions__list-item-description {
  color: @special-grey;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.directions__list-count {
  color: #161c35;
  opacity: 0.3;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.directions__list-users-count {
  position: absolute;
  right: 10px;
  top: 26px;
}

.directions__button-more {
  margin: 16px 0 0 25px;
}
