.feedback {
  background-color: @main-section-dark-bgcolor;
  .container-round-bottom();
}

.feedback__container {
  color: @basic-white;
  .content-container();

  @media (min-width: @tablet-width) {
    .set-font(45px, 45px, 700);
  }
}

.feedback__text-container {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding-top: 90px;
    .set-font(45px, 45px, 700);
  }

  @media (min-width: @desktop-width) {
    padding-top: 125px;
  }
}

.feedback__title {
  display: inline-block;
  color: @special-orange;
  .set-font(24px, 24px, 700);
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    .set-font(45px, 45px, 700);
    margin-bottom: 60px;
  }
}

.feedback__text {
  display: block;
  text-align: center;
  width: 210px;
  color: @basic-white;
  .set-font(16px, 22px, 300);
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    .set-font(28px, 35px, 300);
    width: 620px;
    margin-bottom: 60px;
  }
}

.feedback__question {
  display: block;
  text-align: center;
  margin-top: 28px;
  color: @basic-white;
  .set-font(16px, 22px, 300);
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    .set-font(28px, 30px, 300);
    margin-bottom: 45px;
  }
}

.feedback__login-link {
  text-decoration: underline;
  color: @basic-yellow;

  &:hover {
    color: @special-yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  width: 270px;
  height: 62px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    border-radius: 20px;
    width: 616px;
    height: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 1180px;
  }
}

.feedback__form-email-input {
  color: @special-grey;
  outline: none;
  width: 200px;
  font-size: 18px;
  padding-left: 10px;
  .set-font(14px, 12px, 700);

  &::placeholder {
    padding-left: 25px;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    .set-font(24px, 28px, 700);
  }
}

.feedback__button-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    .set-font(24px, 24px, 700);
    color: @basic-blue-light;
    padding-right: 100px;
  }
}

.feedback__form-email-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: @button-background;
  text-align: center;
  border-radius: 10px;
  width: 60px;
  height: 62px;
  color: @main-section-dark-bgcolor;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }

  @media (min-width: @desktop-width) {
    width: 330px;
  }

  &:hover {
    background-color: @button-background-hovered;
  }

  &:active .ref-button__arrow {
    opacity: 0.5;
  }
}

.feedback__contacts {
  padding-left: 25px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 290px;
    padding-bottom: 110px;
  }
}

.feedback__contacts-link {
  color: @basic-yellow;
}

.feddback__contacts-link {
  padding-bottom: 0;

  .contact-list__text {
    .set-font(16px, 22px, 700);
    color: @basic-yellow;
  }
}

@media (min-width: @tablet-width) {
  br.tablet-hide {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .feedback__contacts-item + .feedback__contacts-item {
    margin-left: 115px;
  }
}
