.feedback {
  color: @basic-white;
  padding-bottom: 10px;
  background-color: @main-section-dark-bgcolor;
  .container-round-bottom();
}

.feedback__container {
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__title {
  display: inline-block;
  color: @special-orange;
}

.feedback__text {
  display: block;
  text-align: center;
  width: 210px;
  color: @basic-white;
}

.feedback__question {
  display: block;
  text-align: center;
  margin-top: 32px;
  color: @basic-white;
}

.feedback__login-link {
  text-decoration: underline;
  color: @basic-yellow;
}

.feedback__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  width: 270px;
  height: 62px;
  background-color: @basic-white;
}

.feedback__form-email-input {
  color: @special-grey;
  outline: none;
  width: 200px;


  &::placeholder {
    padding-left: 25px;
    opacity: 0.3;
  }
}

.feedback__form-email-submit {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background-color: @button-background;
  text-align: center;
  border-radius: 10px;
  width: 60px;
  height: 62px;

  &:hover {
    background-color: @button-background-hovered;
  }

  &:active * {
    opacity: 0.5;
  }

  * {
    color: @main-section-dark-bgcolor;
  }
}

.feddback__contacts {
  margin: 0 0 24px 24px;
}

.feddback__contacts-link {
  .contact-list__text {
    color: @basic-yellow;
  }
}
