.header {
  .container-round-bottom();
  background-color: @basic-blue;

  &--index {
    border-radius: 0;

    @media (min-width: @tablet-width) {
      background-color: @header-color;
    }

    @media (min-width: @desktop-width) {
      background-color: @basic-blue;
    }
  }
}

.header__title-container {
  position: relative;
  display: inline-block;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    margin-left: 35px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 65px;
  }
}

.header__title {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 14px;
  color: @basic-white;
  .set-font(36px, 40px, 700);

  @media (min-width: @tablet-width) {
    margin-top: 80px;
    .set-font(60px, 60px, 700);
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 64px;
  }
}

.header__title-line {
  position: absolute;
  z-index: 11;
  top: 96px;
  background-color: @special-orange;
  border: 2px solid @special-orange;
  height: 1px;
  border-radius: 4px;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 208px;
    border: 2px solid @special-orange;
    height: 4px;
    border-radius: 8px;
  }

  @media (min-width: @desktop-width) {
    top: 190px;
  }
}

.header__img {
  width: 100px;
  height: 15px;

  @media (min-width: @tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.header__container {
  position: relative;
  box-sizing: border-box;
  .content-container();
  padding: 20px 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 40px 40px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 60px 0;
  }
}

.header__navigation {
  position: relative;
  width: 100%;
  z-index: 10;


  .header__references,
  .header__phone,
  .header__mail,
  .header__login,
  .header__contacts,
  .header__socials,
  .header__toggle-close,
  .header__img--open {
    display: none;
  }

  .header__logo--close {
    display: block;
  }

  .header__login {
    .login-button(190px, 40px);
    .set-font(16px, 18px, 700);
  }

  @media (min-width: @tablet-width) {
    .header__login {
      display: block;
      .align-center();
      .set-font(20px, 20px, 700);
      .login-button(190px, 50px);
    }
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    justify-content: start;

    .header__references,
    .header__phone,
    .header__mail,
    .header__login {
      display: block;
    }

    .header__contacts,
    .header__toggle {
      display: none;
    }

    .header__phone,
    .header__mail,
    .header__login {
      .align-center();
    }

    .header__references {
      display: flex;
      flex-direction: row;
      margin-right: auto;
    }

    .header__login {
      .login-button(190px, 50px);
      .set-font(20px, 20px, 700);
    }

    .header__phone {
      margin-left: auto;
    }
  }
}

.header__navigation--nojs {
  .header__toggle {
    display: none;
  }
}

.header__toggle {
  width: 24px;
  height: 12px;
  outline: none;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}

.header__navigation--open.header__navigation--nojs {
  position: relative;
}

.header__navigation--open {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  z-index: 10;
  align-items: center;
  background-image: none;
  background-color: @light-background;
  border-radius: 0;
  width: 100vw;

  .header__toggle-open,
  .header__img--close,
  .header__title-container {
    display: none;
  }

  .header__toggle-close,
  .header__img--open {
    display: block;
  }

  .header__references,
  .header__login,
  .header__contacts {
    display: block;
    color: @basic-blue;
  }

  .header__references {
    order: 1;
    text-align: center;
    padding: 80px 0 52px;
    width: 100%;

    @media (min-width: @tablet-width) {
      justify-self: flex-start;
      text-align: start;
      padding: 94px 0 0;
      padding-left: 50px;
    }
  }

  .header__login {
    order: 2;
    .login-button(270px, 50px);

    @media (min-width: @tablet-width) {
      order: 0;
      .login-button(190px, 50px);
      .set-font(20px, 20px, 400);
      .align-center();
    }
  }

  .header__contacts {
    order: 3;
    width: 100%;
    margin: 50px 0 45px;

    @media (min-width: @tablet-width) {
      padding-left: 50px;
      margin: 130px 0 130px;
    }
  }

  .header__socials {
    display: flex;
    order: 4;
    margin-bottom: 40px;
    width: 100%;

    .socials-list__item {
      .opacity-action();
    }

    @media (min-width: @tablet-width) {
      padding-left: 60px;
      margin-bottom: 90px;
    }
  }

  .header__contacts-link {
    .contact-list__text {
      color: @basic-blue;
    }
  }
}

.header__navigation--fixed {
  position: fixed;

  top: 0;
  left: 0;

  background-color: @basic-white;

  .header__img--close {
    display: none;
  }

  .header__img--open {
    display: block;
  }

  .header__toggle-open {
    fill: #cccccc;
  }

  .header__title {
    color: @main-section-dark-bgcolor;
  }

  .header__on-main-link {
    &::before {
      color: @main-section-dark-bgcolor;
    }
  }

  .header__on-main-link-icon {
    fill: @main-section-dark-bgcolor;
  }

  @media (min-width: @desktop-width) {
    .header__references-link {
      color: @main-section-dark-bgcolor;
    }

    .header__references::before {
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 40px;
      content: "";
      border: 1px solid @main-section-dark-bgcolor;
      width: 60px;
      height: 2px;
      background-color: @main-section-dark-bgcolor;
    }
  }
}

.header__navigation--fixed-index {
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.header__on-main-link {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: 104px;
    left: 588px;

    &::before {
      position: absolute;
      top: 0;
      right: 60px;
      white-space: nowrap;
      content: "На главную";
      color: @basic-white;
      text-transform: uppercase;
      .set-font(20px, 20px, 700);
    }
  }

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    top: 90px;
    left: 1158px;

    &::before {
      position: absolute;
      top: 0;
      right: 60px;
      white-space: nowrap;
      content: "На главную";
      color: @basic-white;
      text-transform: uppercase;
      .set-font(20px, 20px, 700);
    }
  }
}

.header__on-main-link-icon {
  fill: white;
}
