.level-group {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    background-color: @form-fieldset-color;
    top: 14px;
    width: 18px;
    right: calc(50% - 9px);
    border-top: 5px solid @basic-white;
    border-bottom: 5px solid @basic-white;
  }

  @media (min-width: @tablet-width) {
    align-items: baseline;
    justify-content: flex-start;

    &::after {
      position: absolute;
      display: block;
      content: "";
      height: 1px;
      background-color: @form-fieldset-color;
      top: 19px;
      width: 18px;
      right: 76px;
      border-top: 5px solid @basic-white;
      border-bottom: 5px solid @basic-white;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      position: absolute;
      display: block;
      content: "";
      height: 1px;
      background-color: @form-fieldset-color;
      top: 19px;
      width: 18px;
      right: 100px;
      border-top: 5px solid @basic-white;
      border-bottom: 5px solid @basic-white;
    }
  }
}

.level-group__low-range,
.level-group__high-range {
  box-sizing: border-box;
  width: 50%;
  background-color: @basic-white;
  border: 1px solid @form-fieldset-color;
  height: 35px;
  text-align: center;
  color: @basic-blue-light;
  .set-font(14px, 14px, 500);

  @media (min-width: @tablet-width) {
    .set-font(20px, 20px, 400);
    width: 74px;
    height: 47px;
  }

  @media (min-width: @desktop-width) {
    width: 96px;
    height: 46px;
  }
}

.level-group__low-range {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.level-group__high-range {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.level-group__low-range-btn,
.level-group__high-range-btn {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: @basic-blue-light;
  margin-top: 20px;

  @media (min-width: @desktop-width) {
    margin-top: 30px;
  }
}

.level-group__low-range-btn {
  position: relative;
  margin-left: 60px;
  margin-right: 140px;

  &::before {
    position: absolute;
    right: 0;
    top: 4px;
    content: "";
    height: 2px;
    width: 70px;
    background-color: @basic-blue-light;
    opacity: 0.2;
  }

  &::after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 2px;
    width: 160px;
    background-color: @basic-blue-light;
  }

  @media (min-width: @tablet-width) {
    margin-left: 100px;

    &::before {
      position: absolute;
      right: 0;
      top: 4px;
      content: "";
      height: 3px;
      width: 110px;
      background-color: @basic-blue-light;
      opacity: 0.2;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 4px;
      content: "";
      height: 3px;
      width: 180px;
      background-color: @basic-blue-light;
    }
  }


  @media (min-width: @desktop-width) {
    margin-left: 60px;

    &::before {
      position: absolute;
      right: 0;
      top: 4px;
      content: "";
      height: 3px;
      width: 70px;
      background-color: @basic-blue-light;
      opacity: 0.2;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 4px;
      content: "";
      height: 3px;
      width: 130px;
      background-color: @basic-blue-light;
    }
  }
}

@media (min-width: @tablet-width) {
  .level-group__low-range-btn {
    order: 1;
  }

  .level-group__high-range-btn {
    order: 2;
    margin-left: 20px;
  }

  .level-group__low-range {
    order: 3;
    margin-left: 60px;
  }

  .level-group__high-range {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .level-group__low-range-btn {
    order: unset;
  }

  .level-group__high-range-btn {
    order: unset;
    margin-left: -30px;
  }

  .level-group__high-range {
    order: unset;
  }

  .level-group__low-range {
    order: unset;
    margin-left: 0;
  }
}
