.main {
  background-color: @price-gray;
  min-width: 320px;
  position: relative;
}

.main__promo {
  height: 970px;
  background-color: @basic-blue;

  @media (min-width: @tablet-width) {
    height: 1100px;
    background-color: @header-color;
  }

  @media (min-width: @desktop-width) {
    height: 655px;
    background-color: @basic-blue;
  }
}

.main__about {
  background-color: @form-background-color;
}

.main__directions {
  background-color: @main-section-dark-bgcolor;
}

.main__companions {
  background-color: @form-background-color;
}

.main__price {
  background-color: @main-section-dark-bgcolor;
}

.main__feedback {
  background-color: @adress-background;

  @media (min-width: @tablet-width) {
    margin-top: -20px;
  }
}

.main__map {
  height: 262px;

  @media (min-width: @tablet-width) {
    height: 464px;
  }

  @media (min-width: @desktop-width) {
    height: 394px;
  }
}

.main__form {
  position: relative;
  background-color: @form-background-color;
}

.main__map iframe {
  height: 480px;
  width: 100%;
  margin-top: -80px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    margin-top: -160px;
    height: 730px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -150px;
    height: 660px;
  }
}

.main__add-plan {
  background-color: @form-section-3-background;
  margin-top: -30px;
  margin-bottom: -15px;
}

.main__companion-filter {
  padding: 75px 25px 0;

  @media (min-width: @tablet-width) {
    padding: 180px 40px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.main__companion-list {
  box-sizing: border-box;
  padding: 0 25px 0;

  @media (min-width: @tablet-width) {
    padding: 0 40px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.main__content-container {
  .content-container();
}

.main__catalog-content {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1010px 85px 285px;
    grid-template-rows: auto;
  }
}
