.main {
  background-color: @price-gray;
  width: 320px;
}

.main__promo {
  height: 970px;
  background-image: url("../../img/traveller-illustration-mobile.png"),
    url("../../img/globe-back-mobile-header.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 80px top calc(222px - 73px), top -73px left;
  background-color: @basic-blue;
}

.main__about {
  background-color: @price-background;
}

.main__directions {
  background-color: @main-section-dark-bgcolor;
}

.main__companions {
  background-color: @price-background;
}

.main__price {
  background-color: @main-section-dark-bgcolor;
}

.main__feedback {
  background-color: @adress-background;
}

.main__map {
  height: 262px;
}

.main__form {
  position: relative;
  background-color: @form-background-color;
  padding-top: 72px;
}

.main__add-plan {
  background-color: @form-section-3-background;
  margin-top: -30px;
}
