.main {
  background-color: #e5e5e5;
  width: 320px;
}

.main__promo {
  height: 970px;
  background-image: url("../../img/traveller-illustration-mobile.png"),
    url("../../img/globe-back-mobile-header.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 80px top calc(222px - 73px), top -73px left;
  background-color: @header-background-color;
}

.main__about {
  height: 353px;
  background-color: #edeff6;
}

.main__directions {
  height: 992px;
  background-color: @main-section-dark-bgcolor;
}

.main__companions {
  height: 1320px;
  background-color: #e6e8f1;
}

.main__price {
  height: 450px;
  background-color: @main-section-dark-bgcolor;
}

.main__feedback {
  height: 503px;
  background-color: @basic-yellow;
}

.main__adress {
  height: 206px;
}

.main__map {
  height: 262px;
}
