.month {
  margin-top: 20px;
  position: relative;
  height: 44px;
  border-top: 1px solid @form-fieldset-color;
  border-bottom: 1px solid @form-fieldset-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    height: 86px;
  }
}

.month__plus,
.month__minus {
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    padding: 10px;

    svg {
      width: 30px;
      height: 36px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.month__input {
  text-align: center;
  color: @basic-blue-light;
  .set-font(20px, 20px, 700);

  @media (min-width: @tablet-width) {
    .set-font(36px, 36px, 700);
  }
}
