
.movement-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movement-list__item {
  svg {
    fill: @basic-blue-light;
    opacity: 0.15;
  }

  margin: 0 7px 0;


  &--active {
    svg {
      opacity: 1;
    }
  }

  &--circle {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: @form-background-color;
    .align-center();
  }

  &--catalog {
    margin: 0;
    background-color: @form-background-color;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: 4px;
    .align-center();

    svg {
      width: 21px;
      height: 21px;
    }

    @media (min-width: @tablet-width) {
      padding-bottom: 10px;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    height: 24px;
    width: 24px;
    margin: 0 4px 0;

    svg {
      height: 24px;
      width: 24px;
    }
  }
}

