.my-plans {
  .container-round-top();
  background-color: @form-section-2-background;
  box-sizing: border-box;
  padding: 28px 25px 50px;
}

.my-plans__header {
  color: @basic-blue-light;
  margin-bottom: 28px;
  .set-font(24px, 24px, 700);
}
