.navigation-list__link {
  color: @main-section-dark-bgcolor;
  font-weight: 500;
  line-height: 35px;
  font-size: 30px;
  text-transform: uppercase;

  &:hover {
    color: @basic-yellow;
  }

  &:active {
    color: @basic-yellow;
    opacity: 0.3;
  }
}
