.navigation {
  height: 73px;
  position: absolute;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  background: #192144;
}

.navigation--open {
  height: 568px;
}

.navigation__toggle {
  width: 25px;
  height: 11px;
  background: url("../../img/icon-menu-open.png");
}
