.promo__slogan-container {
  width: 100%;
  height: 230px;
  background-color: @basic-blue;
  margin-top: 268px;
  padding-top: 48px;
}


.promo__slogan {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: @basic-white;
  margin-top: 20px;
}

.promo__quote {
  display: block;
  width: 160px;
  margin: 0 0 132px 50px;
  font-weight: 300;
  color: @basic-white;
}

.promo__quote-author-cite {
  display: block;
  margin-top: 20px;
  font-weight: 700;
  font-style: normal;
  color: @basic-white;
}

.promo__navigation {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  top: -300px;
}

.promo__navigation-logo,
.promo__navigation-toggle,
.promo__navigation-list {
  display: none;
}

.promo__navigation-login-btn {
  display: block;
  .login-button(190px, 40px);
}

.promo__steps {
  position: relative;
  padding-left: 24px;
  top: -120px;
}
