.promo__slogan-container {
  background-color: @main-background;
  margin-top: 260px;
  padding: 50px 100px 0 50px;
}

.promo__slogan {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: @basic-white;
  margin-top: 20px;
}

.promo__quote {
  display: block;
  color: @basic-white;
}

.promo__quote-author-cite {
  display: block;
  color: @basic-white;
}

.promo__navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -212px;
}

.promo__navigation-logo,
.promo__navigation-toggle,
.promo__navigation-list {
  display: none;
}

.promo__navigation-login-btn {
  display: block;
  .login-button(190px, 40px);
}

.promo__steps {
  position: relative;
  padding-left: 24px;
  top: -32px;
}
