.regions {
  .set-font(16px, 18px, 700);

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.regions__item {
  opacity: 0.3;
  text-transform: uppercase;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 0;
    margin-right: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 32px;
  }

  &--active {
    opacity: 1;
  }
}

.regions__item-link {
  color: @main-section-dark-bgcolor;
  text-decoration: none;
  font-style: normal;

  @media (min-width: @tablet-width) {
    .set-font(20px, 20px, 700);
  }
}
