.select-country {
  position: absolute;
  z-index: 4;
  top: 280px;
  background-color: @light-background;
  box-sizing: border-box;
  width: 220px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .set-font(16px, 22px, 400);

  &&--close {
    display: none;
  }
}

.select-country__table {
  width: 100%;
}

.select-country__countries {
  width: 100%;
}
