.step-2 {
  position: relative;
  box-sizing: border-box;
  padding: 15px 25px 25px;
  background-color: @light-background;
  border-radius: 10px;
  margin-bottom: 10px;
}

.step-2__title {
  margin-bottom: 16px;
  color: @basic-blue-light;
}

.step-2__title-descr {
  color: @special-grey;
  margin-bottom: 20px;
}

.step-2__next-btn {
  background-color: @basic-yellow;
  .buttons(220px, 40px);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: @basic-blue-light;

  &:hover {
    background-color: @special-yellow-dark;
  }

  &:active * {
    opacity: 0.5;
  }
}

.step-2__back-btn {
  .align-center();
  color: @basic-blue-light;
  text-transform: uppercase;
}
