.step-list__item {
  box-sizing: border-box;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: -40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 22px 24px 0;
  .set-font(18px, 18px, 700);

  &--1 {
    background-color: @special-orange;
  }

  &--2 {
    background-color: @special-orange-2;
  }

  &--3 {
    background-color: @special-yellow-dark;
  }

  &--4 {
    height: 80px;
    background-color: @basic-yellow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media (min-width: @tablet-width) {
    .set-font(24px, 24px, 700);
    padding: 32px 120px 0 32px;
    height: 140px;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    height: 108px;
    padding-top: 26px;
    padding-right: 60px;
  }
}

.step-list__item-text {
  color: @basic-blue;
}

.step-list__item-number {
  color: @basic-white;

  @media (min-width: @tablet-width) {
    .set-font(30px, 50px, 700);
  }

  @media (min-width: @desktop-width) {
    .set-font(24px, 24px, 700);
  }
}


.step-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 340px 320px;
    grid-template-rows: 140px 140px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}


@media (min-width: @tablet-width) {
  .step-list__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 365px;
  }

  .step-list__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 344px;
  }

  .step-list__item--3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 365px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
  }

  .step-list__item--4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 344px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: @desktop-width) {
  .step-list__item--1 {
    border-radius: 20px;
    width: 345px;
  }

  .step-list__item--2 {
    margin-left: -30px;
    border-radius: 20px;
    width: 375px;
  }

  .step-list__item--3 {
    margin-left: -30px;
    border-radius: 20px;
    width: 375px;
  }

  .step-list__item--4 {
    margin-left: -30px;
    border-radius: 20px;
    width: 315px;
  }
}
